<%= stylesheet_link_tag 'print', :media => "print" %>
<br/><br/>
<div style="text-align: center"><img src="/assets/logo-713b364bf40a77305df4de1e1d4477b4.png"/></div>
<% if @su_print == true %>
  <div class='title' style="text-align: center"><b>SHIPPING HISTORY</b></div>
  <br/>
  <table border="1" style="text-align: center" width="1000" align="center">
    <tr>
      <td><b>Ship Form</b></td>
      <td><b>Ship To</b></td>
      <td><b>Tracking No.</b></td>
      <td><b>Ship Date</b></td>
      <th><b>Packages</b></th>
      <th><b>Shipment Status</b></th>
      <th><b>Delivered Time</b></th>
    </tr>
    <% Array(@shipments).each do |shipment| %>
        <tr class="odd_gradeX">
          <td><%= user_of(shipment).company_name %></td>
          <td><%= client_of(shipment).client %></td>
          <td><%= shipment.tracking %></td>
          <td><%= shipment.ship_date.strftime("%m/%d/%Y") %></td>
          <td><%= shipment.number_of_packages %></td>
          <td><%= shipment.status %></td>
          <td style="text-align:center"><%= shipment.deliver_at ? shipment.deliver_at.strftime("%m/%d/%Y") : '--' %></td>
        </tr>
    <% end %>
  </table>
  <br />
  <div class="row-fluid" style="text-align: center">
    <button type="button" onClick="window.print()">Print Shipping History</button><br/><br/>
    <a href="shipment_history">Back to Shipping History</a>
  </div>
<% end %>
